body {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 150%;
}

a:link    {
  text-decoration:  none;
  color:            #2A5DB0;
}
a:visited {
  text-decoration:  none;
  color:            #609;
}
a:hover   {
  background-color: #2A5DB0;
  color:            #fff;
}
a:active  {
  text-decoration:  underline;
  background-color: #2A5DB0;
  color: white;
}

div.simpleList span:not(:last-child):after {
  content: ", ";
}
