<script id='tNetwork' type='text/ractive'>
  {{#if connected}}
    Connected. Peers: {{connected}} | Id: {{myId}}
    <br />
    <div class='simpleList'>
      Network: {{#articles:i}}
        <span><a href="#{{this}}">{{this}}</a></span>
      {{/articles}}
    </div>
    <div class='simpleList'>
      This device: {{#myarticles:i}}
        <span><a href="#{{title}}">{{title}}</a></span>
      {{/myarticles}}
    </div>
  {{else}}
    You are not connected to the wakapedia network.
  {{/if}}
</script>
